<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="orderdeliverydate" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>OrderDeliveryDate</label>
			<tab>aceextensions</tab>
			<resource>Aceextensions_OrderDeliveryDate::config_aceextensions_orderdeliverydate</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="processingtime" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Processing Time</label>
					<comment>Delivery will be taken after(x) day(s) upon the date order(s) made.</comment>
				</field>
				
				<field id="displayat" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Display At</label>
					<comment/>
					<source_model>Aceextensions\OrderDeliveryDate\Model\Config\Source\Displayat</source_model>
				</field>

				<field id="timeslots" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Time Slots</label>
					<frontend_model>Aceextensions\OrderDeliveryDate\Model\Config\Source\Timeslots</frontend_model>
					<backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
            	</field>

				<field id="dateformat" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Date Format</label>
					<source_model>Aceextensions\OrderDeliveryDate\Model\Config\Source\Dateformat</source_model>
				</field>
				<field id="delivery_comments" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Delivery Arrival Comment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
				<field id="iconcalendar" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
					<label>Icon Calendar</label>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>
